<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h1>Fish Cart Orders</h1>
		</div>
	</div>
  <div class="row">
    <div class="table-responsive col-xs-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Status</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr class="<%= order.status.upcase == 'DONE' ? 'info' : 'danger' %>">
            <td><%= order.id %></td>
            <td><%= order.product.camelcase %></td>
            <td><%= order.quantity %></td>
            <td><%= order.user.name.camelcase if order.user.present? %></td>
            <td><%= order.number %></td>
            <td>
            	<div class="col-xs-6"><%= order.status %></div>
            	<% if order.status.upcase != 'DONE' %>
            	<div class="col-xs-6">
            		<button type="button" class="btn btn-primary done-btn" orderid="<%= order.id %>">Done</button>
            	</div>
            	<% end %>
        	</td>
            <td><%= order.stamp.strftime("%b %d, %I:%M %p") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
